<div class="main-container">

  <app-admin-layout></app-admin-layout>

  <div class="page-content">

    <h2>Add Employee</h2>

    <form #employeeForm="ngForm" (ngSubmit)="addemployee(employeeForm)">

      <div class="form-group">
        <label>First Name</label>
        <input type="text"
               name="firstName"
               ngModel
               required>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text"
               name="lastName"
               ngModel
               required>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="text"
               name="phone"
               ngModel
               required>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <select name="gender"
                ngModel
                required>

          <option value="">Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>

        </select>
      </div>

      <div class="form-group">
        <label>Date of Birth</label>
        <input type="date"
               name="dateOfBirth"
               ngModel
               required>
      </div>

      <div class="form-group">
        <label>Joining Date</label>
        <input type="date"
               name="joiningDate"
               ngModel
               required>
      </div>

      <div class="form-group">
        <label>Department</label>

        <select name="departmentId"
                ngModel
                required>

          <option value="">Select Department</option>

          <option *ngFor="let department of departments"
                  [value]="department.departmentId">

            {{department.departmentName}}

          </option>

        </select>
        
         
      </div>

      <button type="submit">
        Add Employee
      </button>

    </form>

  </div>

</div>
